@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    color: #f47228;
}

/* So that the logo displays with a transparent background */
html[data-theme=dark] .bd-content img:not(.only-dark,.dark-light) {

 background-color: rgba(0, 0, 0, 0.0);
}

/* Make the inline code stand out a bit less */
code.literal {
    background-color: transparent;
    border: 0;
}

.bd-sidebar-primary {
    width: 20%;
}

/* Don't display Section Navigation title */
nav.bd-links p.bd-links__title, nav.bd-links p.caption {
    display: none;
}

html:not([data-theme]) {
    --pst-color-secondary: #b35520;
}

/* Light theme */
html[data-theme="light"] {
    --pst-color-secondary: #b35520;
    .bd-header {
        background-color: #c5e6ff !important;
    }
}
/* Dark theme */
html[data-theme="dark"] {
    --pst-color-secondary: #b35520;
    .bd-header {
        background-color: #05385e  !important;
    }
}

.navbar-brand p {
    font-size: 0.8rem;
    margin-bottom: -2rem;
    white-space: nowrap;
}